<div id="main-wrapper" class="col-sm-12 col-md-4">
	<% if (!user) { %>
		<form method="get" action="/login">
			<div class="form-group">
				<label for="">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="">Contraseña</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default">Entrar</button>
			<a href="/registro" type="submit" class="btn btn-default">Registrar</a>
		</form>
	<% } else { %>
		<% include videos %>
	<% } %>
</div>