<div id="main-wrapper" class="col-sm-12 col-md-4">
	<h1 class="title">Bienvenido a MiTubo</h1>
	<a href="/login" class="btn btn-default">Iniciar sesión</a>
	<a href="/registro" class="btn btn-default">Registrar</a>
</div>