<!DOCTYPE html>
<html>
  <head>
    <title>MiTubo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

    <!-- <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <div>
      <h1>MiTubo</h1>
    </div>
    <%- body %>
  </body>
</html>