<div id="main-wrapper" class="col-sm-12 col-md-4">
	<h1 class="title">Iniciar sesión</h1>
	<form method="post" action="/login">
		<div class="form-group">
			<label>Email</label>
			<input name="email" type="email" class="form-control" id="email" >
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input name="pwd" type="password" class="form-control" id="pwd" >
		</div>
		<button type="submit" class="btn btn-default">Entrar</button>
		<a href="/registro" type="submit" class="btn btn-default">Registrar</a>
	</form>
</div>