<div id="main-wrapper" class="col-sm-12 col-md-4">
	<h1 class="title">Reproductor</h1>
	<video controls>
		<!-- <source src="movie.mp4" type="video/mp4"> -->
		<source src="http://videos.mitubo.es/nas/<%- video._id %>.<%- video.extension %>" type="video/ogg">
		Your browser does not support the video tag.
	</video>
</div>