<div id="main-wrapper" class="col-sm-12 col-md-4">
	<h1 class="title">Nuevo usuario</h1>
	<form method="post" action="/registro">
		<div class="form-group">
			<label>Nombre</label>
			<input name="name" type="text" class="form-control" id="name">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input name="email" type="text" class="form-control" id="email">
		</div>
		<div class="form-group">
			<label>Contraseña</label>
			<input name="pwd1" type="password" class="form-control" id="pwd1">
		</div>
		<div class="form-group">
			<label>Confirmar contraseña</label>
			<input name="pwd2" type="password" class="form-control" id="pwd2">
		</div>
		<button type="submit" class="btn btn-default">Registrar</button>
	</form>
</div>