<div id="main-wrapper" class="col-sm-12 col-md-4">
	<h1 class="title">Vídeo subido</h1>
	<a href="/upload" class="btn btn-default">Subir otro vídeo</a>
	<a href="/list" class="btn btn-default">Lista de vídeos</a>
</div>