<div id="main-wrapper" class="col-sm-12 col-md-4">
    <h1 class="title">Subir vídeo</h1>
    <div class="col-sm-12 col-md-10 alert-wrapper">
        <span id="error-alert" class="alert alert-danger"></span>
    </div>
    <div>
        <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="form-group col-md-12">
                <input name="video" type="file" id="video" />
            </div>
            <button class="btn btn-info" type="submit">Subir vídeo</button>
        </form>
    </div>
</div>