<div id="main-wrapper" class="col-md-8 col-md-offset-2">
	<div class="aler alert-danger text-center" style="margin-top: 30px">
		<p style="font-size: 6em">404</p><br>
		<p style="font-size: 4em">No es posible acceder a la página.</p>
	</div>
</div>